* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  cursor: none;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 10vh;
  align-items: center;
  margin: auto;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-links,
h1 {
  flex: 1;
}
.nav-links li {
  padding: 1rem;
}
.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid #00b8ae;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
  backdrop-filter: blur(3px);
}
.front-cover img {
  width: 40%;
  position: relative;
  z-index: -3;
}
.link-grow {
  transform: scale(2);
  background: black;
}
.hovered-link {
  color: white;
}
