* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 100%;
  width: 100%;
}
.image {
  height: 187px;
  width: 187px;
  position: relative;
  top: -40px;
  /* border-radius: 50%; */
}
.coins_image {
  height: 40px;
  width: 40px;
}
.cards {
  display: grid;
  height: 60vh;
  width: 100%;
}
.card {
  height: 260px;
  width: 210px;
  border: 2px solid #ccc;
  flex-direction: column;
  display: flex;
}
