*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background: #001300;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    animation:  animateColor 5s linear infinite;
}
@keyframes animateColor{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.container span{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;

}
.container span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 300%;
    background: #00ff0a;
    border-radius: 50%;
    transform: scale(0);
    transition: 2s;
    box-shadow:  0 0 10px #00ff0a,
                 0 0 20px #00ff0a,
                 0 0 40px #00ff0a,
                 0 0 60px #00ff0a,
                 0 0 80px #00ff0a,
                 0 0 100px #00ff0a
    ;
}
.container span:hover::before{
    transition: 0s;
    transform: scale(1);
}