body {
  background-color: rgb(0, 0, 0);
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.model-6 .spinner {
  border: 3px solid #19a5df;
  border-radius: 0;
  -webkit-animation: rotate 3s infinite;
  animation: rotate 3s infinite;
}

.model-6 .spinner:after,
.model-6 .spinner:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 32px;
  height: 32px;
  border: 3px solid #feb825;
  -webkit-animation: rotate 3s infinite reverse;
  animation: rotate 3s infinite reverse;
}

.model-6 .spinner:before {
  border-color: #fff;
  left: 10px;
  top: 10px;
  width: 22px;
  height: 22px;
  -webkit-animation: rotate 2s infinite;
  animation: rotate 2s infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
