* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
  text-align: center;
}
.wrapper .btns {
  display: flex;
  margin: 30px 0 20px 0;
}
.btns .btn {
  position: relative;
  margin: 0 20px;
  height: 60px;
  width: 200px;
  display: block;
  line-height: 60px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.btns .btn:first-child {
  background-color: #009dff;
}
.btns .btn:last-child {
  background-color: #cc00ff;
}
.btns .btn span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: ripples 0.6s linear infinite;
}
@keyframes ripples {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
