body {
  background: black;
  height: 100vh;
  width: 100vw;
}

.petal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  border-radius: 100% 0 100% 50%;
  --color: hsl(0, 60%, 50%);
  background: linear-gradient(-45deg, black, var(--color));
  transition: transform 0.4s ease-out;
  mix-blend-mode: screen;
}
