* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #282a36;
  height: 100vh;
  color: #fff;
}
.otp-field {
  display: flex;
}
.otp-field input {
  width: 60px;
  height: 60px;
  font-size: 32px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
  border: 2px solid #55525c;
  background: #21232d;
  color: #fff;
  outline: none;
  transition: all 0.1s;
}
.otp-field input:focus {
  border: 2px solid #a527ff;
  box-shadow: 0 0 2px 2px #a527ff6a;
}
.disabled {
  opacity: 0.5;
}
.space {
  margin-right: 1rem !important;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #b44aff;
}
.reset-otp-btn {
  background: #b44aff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s;
  margin-top: 2rem;
}
.reset-otp-btn:hover {
  background: #a527ff;
}
