.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
ul li label {
  padding-left: 20px;
}
ul {
  list-style: none;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
ul li {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.touch {
  position: relative;
  width: 25px;
  height: 25px;
  top: 24px;
  left: -6px;
  border: 5px solid rgb(0, 171, 194);
  border-radius: 50%;
  display: none;
}

label:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background: rgb(184, 16, 16);
  left: 4px;
  top: calc(50% - 6px);
  z-index: -1;
  box-sizing: border-box;
  border-radius: 50%;
}
input {
  opacity: 0;
}
input[type="radio"]:checked ~ .touch {
  position: absolute;
  animation: explode 0.15s;
  display: flex;
}
.line {
  position: absolute;
  width: 10px;
  height: 2px;
  opacity: 0;
  background-color: rgb(145, 0, 113);
}
@keyframes explode {
  0% {
    opacity: 0;
    transform: scale(10);
  }

  60% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.line .zero {
  left: 11px;
  top: -21px;
  transform: translateY(20px);
  width: 2px;
  height: 10px;
}
.line .one {
  right: -7px;
  top: -11px;
  transform: rotate(-55deg) translate(-9px);
}
.line .two {
  left: -20px;
  top: 11px;
  transform: translate(-9px);
}
.line .three {
  right: -8px;
  top: 35px;
  transform: rotate(55deg) translate(-9px);
}
.line .four {
  left: -8px;
  top: -11px;
  transform: rotate(55deg) translate(9px);
}
.line .five {
  left: -20px;
  top: 11px;
  transform: translate(9px);
}
.line .six {
  left: -8px;
  top: 35px;
  transform: rotate(-55deg) translate(9px);
}
.line .seven {
  left: 11px;
  top: -21px;
  transform: translateY(-20px);
  width: 2px;
  height: 10px;
}
input[type="radio"]:checked ~ .touch .line.zero {
  animation: drop-zero 0.9s forwards 0.1s;
}
input[type="radio"]:checked ~ .touch .line.one {
  animation: drop-one 0.9s forwards 0.1s;
}
input[type="radio"]:checked ~ .touch .line.two {
  animation: drop-two 0.9s forwards 0.1s;
}
input[type="radio"]:checked ~ .touch .line.three {
  animation: drop-three 0.9s forwards 0.1s;
}
input[type="radio"]:checked ~ .touch .line.four {
  animation: drop-four 0.9s forwards 0.1s;
}
input[type="radio"]:checked ~ .touch .line.five {
  animation: drop-five 0.9s forwards 0.1s;
}
input[type="radio"]:checked ~ .touch .line.six {
  animation: drop-six 0.9s forwards 0.1s;
}
input[type="radio"]:checked ~ .touch .line.seven {
  animation: drop-seven 0.9s forwards 0.1s;
}
@keyframes drop-zero {
  0% {
    opacity: 0;
    transform: translateY(20px);
    height: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-2px);
    height: 0px;
  }
}
@keyframes drop-one {
  0% {
    opacity: 0;
    transform: rotate(-55deg) translateY(-20px);
    width: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-55deg) translateY(9px);
    width: 0px;
  }
}
@keyframes drop-two {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    width: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(9px);
    width: 0px;
  }
}
@keyframes drop-three {
  0% {
    opacity: 0;
    transform: rotate(55deg) translate(-20px);
    width: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: rotate(55deg) translate(9px);
    width: 0;
    opacity: 0;
  }
}
@keyframes drop-four {
  0% {
    opacity: 0;
    transform: rotate(55deg) translate(20px);
    width: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: rotate(55deg) translate(-9px);
    width: 0;
    opacity: 0;
  }
}
@keyframes drop-five {
  0% {
    opacity: 0;
    transform: translate(20px);
    width: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(-9px);
    width: 0;
    opacity: 0;
  }
}
@keyframes drop-six {
  0% {
    opacity: 0;
    transform: rotate(-55deg) translate(20px);
    width: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: rotate(-55deg) translate(-9px);
    width: 0;
    opacity: 0;
  }
}
@keyframes drop-seven {
  0% {
    opacity: 0;
    transform: translate(-20px);
    height: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(2px);
    height: 0;
    opacity: 0;
  }
}
